.navButton {
  transition:
    background 0.5s ease-in-out,
    color 0s ease-in-out;
  color: #878787;
}

.navButtonActive {
  background: linear-gradient(
    90deg,
    #d79f16 0%,
    #b77c12 18.23%,
    #fbd64b 72.4%,
    #cc9c44 100%
  );
  color: #191919;
}

.navButton:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.navIcon path {
  fill: #878787;
  transition: fill 0.2s ease-in-out;
}
.navIconActive path {
  fill: #191919;
}

.navButton:hover .navIcon path {
  fill: #fff;
}